.navbar {
    border: 0;
    font-size: 14px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
  
.navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 14px;
    color: #66615B;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link {
    line-height: 1.6;
    margin: 15px 3px;
    padding: 10px 15px;
    opacity: .8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #66615b;
}

.nav-item {
    color: #66615B;
}

.body {
    color: #66615b;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}

.page-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header .motto {
    text-align: left;
    z-index: 3;
    color: #fff;
    position: relative;
}

.btn-outline-neutral {
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-round {
    border-radius: 30px;
}

.btn-danger {
    background-color: #f5593d;
    border-color: #f5593d;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-neutral.btn-link {
    color: #fff;
}

.btn-danger.btn-link {
    color: #f5593d;
}
.btn.btn-border, .btn.btn-link {
    background-color: transparent;
}
.btn-link {
    border-color: transparent!important;
    padding: 7px 18px;
}

.main .section:first-of-type {
    position: relative;
    z-index: 2;
}

.section {
    padding: 70px 0;
    position: relative;
    background-color: #fff;
}

.section-dark {
    background-color: #0b1011;
}
.section-dark {
    position: relative;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.description {
    color: #9a9a9a;
}
.h5, h5 {
    font-size: 1.35em;
    line-height: 1.4em;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 300;
}
  
.card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.card-title {
    color: #fff!important;
}

.card-category {
    color: #fff!important;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card-profile .card-body .card-category {
    margin-bottom: 5px;
    margin-top: 5px;
}

.h6, h6 {
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
}

.card-description {
    color: hsla(0,0%,100%,.7);
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #fff!important;
}

.h2, h2 {
    font-size: 2.8em;
}

.contact-form {
    margin-top: 30px;
}

.label {
    display: inline-block;
    margin-bottom: .5rem;
}

.contact-form .btn {
    margin-top: 30px;
}   

.btn-lg {
    font-size: 14px;
    padding: 11px 30px;
}